{% extends 'base.html' %}
{% block title %} Client Dashboard {% endblock %}
{% block head %}
    {{super()}}
  <title> Client Dashboard </title>
  <link rel="stylesheet" href="/static/css/dashboard/client.css">
  <script>
    function openForm(formId) {
        var modal = document.getElementById(formId);
        modal.style.display = "block";
        document.body.style.overflow = "hidden"; // Prevent scrolling on the body
    }
    
    function closeForm(formId) {
        var modal = document.getElementById(formId);
        modal.style.display = "none";
        document.body.style.overflow = "hidden"; // Re-enable scrolling on the body
    }    
    function getClientTimezoneOffset() {
        var timezoneOffset = new Date().getTimezoneOffset();
        document.getElementById('timezone_offset').value = timezoneOffset;
    }
    </script>
{% endblock %}
{% block content %}
    <div class="welcome-banner">
        <h2>Welcome back, {{ current_user.name }}!</h2>
        <p>Here's what's happening with your account today.</p>
    </div>
    <div class="services-div">
        <h2>My Services</h2>
        <div class="services">
            {% if services %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="alert" class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                {% for service in services %}
                    <div class="services-card">
                        <h2><strong>{{ service.name }}</strong></h2>
                        <p>{{ service.description }}</p>
                        <button type="button" 
                            onclick="openForm('booking-form-{{ service.id }}')">
                            Book a Session
                        </button>
                        <div id="booking-form-{{ service.id }}" class="booking-form-modal">
                            <!-- Modal content -->
                            <div class="booking-form-content">
                                <input type="hidden" id="timezone_offset" name="timezone_offset" value="">
                                <span class="close" onclick="closeForm('booking-form-{{ service.id }}')">&times;</span>
                                <div class="dropdown-container">
                                    <form action="{{ url_for('services.book_individual_session', service_id=service.id) }}" method="POST">
                                                                                <div class="time-slot">
                                            <label for="time_slot"> Choose a time slot: </label>
                                            <select name="time_slot" id="time_slot">                                             
                                             <!-- Populate with available time slots -->
                                                {% for slot in available_time_slots %}
                                                    <option value="{{ slot }}"> {{ slot.strftime('%Y-%m-%d %H:%M') }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            <button type="submit"> Book now </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                {% endfor %}
            {% else %}
                <p>You have no active services at this time.</p>
            {% endif %}
        </div>
    </div>
    <script>
        setTimeout(function() {
            var alertDiv = document.getElementById('alert');
            if (alertDiv) {
                alertDiv.remove();
            }
        }, 5000); 
    </script>
{% endblock %}