{% extends 'base.html' %}
{% block title %} Feeling & Healing {% endblock %}
{% block content %}
    <div class="second">
        <div class="left">
            <h1 class="title">
                Feel & Heal
            </h1>
            <p class="sub_title">
                We are glad you found your way here because Feeling and Healing <br> is all we need to feel at home.
                <br> Come talk to us.
            </p>
            <a class="btn_us" align="center" id="last" href="{{url_for('main.contact')}}"> Talk To Us </a>
        </div>
        <div class="right">
            <img src="/static/images/therapycarousel.jpg" alt="">
        </div>
    </div>
    <footer class="footer-section">
        <div class="services">
            <h4> Services </h4>
            <p><a href="#">App development</a></p>
            <p><a href="#">Web development</a></p>
            <p><a href="#">DevOps</a></p>
            <p><a href="#">Web designing</a></p>
        </div>
        <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{{url_for('main.services')}}"> Services </a></li>
                    <li><a href="{{url_for('main.about')}}"> About Us </a></li>
                    <li><a href="{{url_for('main.contact')}}"> Contact Us </a></li>
                </ul>
            </div>



        <div class="footer-bottom">
            <p> &copy; 2024 Feeling & Healing. All rights reserved. </p>
        </div>
    </footer>

{% endblock %}