{% extends 'base.html' %}
{% block title %} Services {% endblock %}
{% block head %}
    {{super()}}
  <title> About Us </title>
  <link rel="stylesheet" href="/static/css/services.css">   
{% endblock %}
{% block content %}
    <div class="wrapper" id="section3">
        <h1> Our Services</h1>
        <h3 class="container"> We are your one stop wellness center. 
            Just a phone call away! Connect with our specialised councellors
        </h3>
        <div class="content-box">
            {% for service in services %}
                <div class="card">
                    <h2><strong>{{ service.name }}</strong></h2>
                    <p>{{ service.description }}</p>
                    {% if current_user.role == 'client' %}
                    <form action="{{ url_for('services.subscribe_to_service', service_id=service.id) }}" method="post">
                        <button type="submit"> Subscribe </button>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}