{% extends 'base.html' %}
{% block title %} Services {% endblock %}
{% block content %}
    <div class="wrapper" id="section3">
        <h1> Our Services</h1>
        <h3 class="container"> We are your one stop wellness center. 
            Just a phone call away! Connect with our specialised councellors
        </h3>
        <div class="content-box">
            {% for service in services %}
                <div class="card">
                    <h2><strong>{{ service.name }}</strong></h2>
                    <p>{{ service.description }}</p>
                    <form action="{{ url_for('auth.subscribe_to_service', service_id=service.id) }}" method="post">
                        <button type="submit"> Subscribe </button>
                    </form>
                </div>
            {% endfor %}
            {# 
            {% comment %} 
            <div class="card">
                <i class="las la-user-alt"></i>
                <h2><strong>Individual Counselling</strong></h2>
                <h2> Have a one-on-one session with our specialists. Feel at home here as you have an interactive session. 
                    Here at Feeling and Healing, we value you.</h2>
            </div>
            <div class="card">
                <i class="las la-users"></i>>
                <h2><strong>Group Counselling</strong></h2>
                <h2>Sometimes all you need is an atmosphere that brings people together. 
                    We offer exactly that. Book a group counselling session now.</h2>
            </div>
            <div class="card">
                <i class="las la-people-carry"></i>
                <h2><strong>Tell me your story</strong></h2>
                <h2> Get a tailor made session just for you. Get to steer the conversation. A platform where you get to tell your emotions.</h2>
            </div>
            <div class="card">
                <i class="las la-microphone-alt"></i>
                <h2><strong>Share your story</strong></h2>
                <h2> Would you love to share your story? Get a space where you can do so. At Feeling and healing we are about inspiration></h2>
            </div> 
            {% endcomment %}
            #}
        </div>
    </div>
{% endblock %}