{% extends 'base.html' %}
{% block title %} Staff Dashboard {% endblock %}
{% block head %}
    {{super()}}
  <title> Staff Dashboard </title>
  <link rel="stylesheet" href="/static/css/dashboard/staff.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
{% endblock %}
{% block content %}
<section class="main-section">
    <div class="welcome-banner">
        <h2> Welcome back, {{ current_user.name }}!</h2>
        <p>This is a secure area for staff. 
        </br> Here you can manage client information, services, and more.</p>
    </div>
    <div class="container">
        <div class="add-services">
            <form action="{{ url_for('services.add_service') }}" method="post">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1 class="service-h"> Services </h1>
                <div class="input-control">
                    <input type="text" name="name" placeholder="Service Name" required>
                </div>            
                <div class="input-control">
                    <textarea name="description" placeholder="Service Description" required></textarea>
                </div>
                <div class="add-btn">
                    <button type="submit"> Add Service</button>
                </div>
            </form>
        </div>
        <div class="manage-section">
            <h1 class="manage-h"> Manage Services </h1>
            <div class="manage-services">
            {% for service in services %}
                <div class="card">
                    <h2>{{ service.name }}</h2>
                    <p>{{ service.description }}</p>
                    <button type="button" class="edit-btn" onclick="toggleEditForm({{ service.id }})"> Edit </button>
                    <form action="{{ url_for('services.edit_service', service_id=service.id) }}" method="post" 
                            class="edit-form" style="display: none;" data-service-id="{{ service.id }}">
                        <span class="close-icon" onclick="closeEditForm(this)">&times;</span>
                        <input type="text" name="name" value="{{ service.name }}">
                        <textarea name="description">{{ service.description }}</textarea>
                        <button type="submit"> Save </button>
                    </form>
                    <form action="{{ url_for('services.delete_service', service_id=service.id) }}" method="post" class="delete-form">
                        <button type="submit" class="delete-btn"> Delete </button>
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
</section>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 5000);
</script>  
<script>
    function toggleEditForm(serviceId) {
        var editForm = document.querySelector('.edit-form[data-service-id="' + serviceId + '"]');
        if (editForm.style.display === 'none') {
            editForm.style.display = 'block';
        } else {
            editForm.style.display = 'none';
        }
    }
    function closeEditForm(closeButton) {
        var editForm = closeButton.parentElement;
        editForm.style.display = 'none';
    }
    
</script>       
{% endblock %}
