@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  width: 100%;
}
* a{
  text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
    box-shadow: 0 10px 15px  rgba(0, 0, 0, 0.844);
    background-color: pink;
    z-index: 100;
    position: sticky;
    left:0;
    top: 0;
    right: 0;
}
.nav-logo {
  display: flex;
  align-items: center;

}
.logo {
  width: 100%;
  justify-content: space-between;
  padding: 3px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
  opacity: 0.8;

}
.logo-text {
  margin-left: 3px;
  text-align: center;
  line-height: 0.8;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-right: 5px;
    }
#nav-bar ul{
    position: fixed;
    top: 0;
    width: 100%;
}
#nav-bar li{
    padding: 0 10px;
    position: relative;
    list-style: none;
}
#nav-bar a{
    font-size: 20px;
    font-weight: 600;
    color:rgb(34, 4, 43);
    text-decoration: none;
}
.nav-item:not(:last-child) {
  margin-right: 10px; 
}

/* highlight current page */
#nav-bar a:hover,
#nav-bar a.active{
    color:rgba(23, 104, 225, 0.841);
    transition: .5s ease;
}
.nav-item {
  margin-right: 0.5px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.nav-item:hover,
.nav-item.active {
  color: rgba(23, 104, 225, 0.841);
}
.active{
  color:rgba(23, 104, 225, 0.841);
  transition: .5s ease;
}

.btn{
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 4px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
hr{
  opacity: 0.1;
}

.name_display{
  padding: 2px;
  margin: 10px 0;
  font-weight: 800;
  font-size: 1.5em;
}
.name_display > span{
  padding: 2px;
  margin: 10px 0;
  font-weight: 800;
  font-size: 1.0em;
  color: forestgreen;
  font-family: 'Poppins';
}
.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 18px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
 

  @media screen and (max-width: 768px) {
    .header{
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    .nav {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }
    .nav_bar a{
      color: black;
    }
    
    .logo{
      font-size: 1rem;
        
    }
    .logo:hover{
      transform: scale(1.05);
    }
  }
@media screen and (max-width: 900px){
  .header{
      flex-wrap: wrap;
  }
  .nav_bar a > .icon{
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }
}
 